<section>
  <h3>Alguns de Nossos Produtos!</h3>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="card">
          <img matCardImage src="/portifolio_1.jpeg">
          <mat-card-actions>
              <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank"><button>Me interessei!</button></a>
          </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <img matCardImage src="/portifolio_2.jpeg">
        <mat-card-actions>
          <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank"><button>Me interessei!</button></a>
        </mat-card-actions>
        </mat-card>
    </div>
  <div class="col-md-4">
    <mat-card class="card">
      <img matCardImage src="/portifolio_7.jpeg">
      <mat-card-actions>
        <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank"><button>Me interessei!</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="card">
      <img matCardImage src="/portifolio_4.jpeg">
      <mat-card-actions>
        <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank"><button>Me interessei!</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="card">
      <img matCardImage src="/portifolio_5.jpeg">
      <mat-card-actions>
        <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank"><button>Me interessei!</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card style="background-color: #FFBED2;">
      <img matCardImage src="/portifolio_6.jpeg">
      <mat-card-actions>
        <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank"><button>Me interessei!</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
</section>
