.instagram-logo {
  background-image: linear-gradient(to bottom right, #405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d,#f56040,#f77737,#fcaf45,#ffdc80);
  color: white;
  border-radius: 25%;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.whatsapp-logo {
  color: #25D366;
}

ul {
  list-style-type: none;
}

