<div class="contato">
  <h3>Entre contato conosco ou Venha nos Visitar!</h3>
    <p><b>(11) 96378-1492</b></p>
    <p>Rua Urano, 457A, Chacara Solar II, Santana de Parnaíba - SP</p>
</div>
<div class="redes">
  <h5>Nos siga nas redes sociais</h5>
  <ul>
    <a href="https://api.whatsapp.com/send?phone=5511963781492&text=Ol%C3%A1%20me%20interessei%20sobre%20seus%20produtos!!!" target="_blank">
      <li><i class="bi bi-whatsapp fs-1 whatsapp-logo"></i></li>
    </a>
    <a href="https://www.facebook.com/people/Edna-Muniz/pfbid032PBPwKxyX1ahjWAiPunVZjy8EtRQtLMPhDy36nFEU2EKLJ3M1dnMeVCz21eZkX4zl/" target="_blank">
      <li><i class="bi bi-facebook fs-1"></i></li>
    </a>
    <a href="https://www.instagram.com/_ednajeans/" target="_blank">
      <li><i class="bi bi-instagram fs-1 instagram-logo"></i></li>
    </a>
  </ul>
</div>
